* {
    margin: 0;
    padding: 0;
}

.footer {
    background-color: orange;
    display: flex;
    height: 15vw;

}

.contenedor {

    text-align: center;
    background-color: #1a1a1a;
    color: white;
    border-top: 6px black solid;
    border-left: 3px black solid;
    border-right: 3px black solid;
    padding: 25px;
}

  